<div class="page-header">
    <h1>Pathfinding</h1>
</div>

<div class="row col-md-8 col-md-offset-2">

  Romeo and Juliet live in a <em>strange city</em>.
  <br>
  The city can be represented as a matrix of N rows and M columns (NxM),
  and each block can be represented as either a 0 (can pass through),
  or a -1 (cannot pass through).
  <br>
  Romeo can travel on 4 directions: <em>up</em>, <em>down</em>, <em>left</em> and
<em>right</em>.
  <br>
  Given Romeo's and Juliet's position in the matrix, <strong>find out the shortest
    path from Romeo to Juliet</strong>.
</div>

<div class="col-md-8 col-md-offset-2">
  <h4> Input </h4>
  N, M - integers
  <br>
  X[N][M] - matrix of Integers
  <br>
  X1, Y1 - the position of Romeo (row, column)
  <br>
  X2, Y2 - the position of Juliet (row, column)

  <h4> Output </h4>
  The number of moves required to reach Juliet from
</div>

<div class="col-md-8 col-md-offset-2">
  <h4> Method Signature </h4>
  <strong>Javascript</strong> <em>romeoAndJuliet(n, m, matrix, x1, y1, x2, y2)</em>
  <br>
  <strong>Ruby</strong> <em>RomeoAndJuliet.new(n, m, matrix, x1, x2, y2)</em>
</div>

<div class="col-md-8 col-md-offset-2">
  <h4> Upload Solution </h4>
  <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/upload">

    <div class="form-group">
      <label class="col-sm-2 ccontrol-label" for="myfile">File</label>
      <div class="col-sm-4">
        <label class="btn btn-default btn-file">
          Browse <input type="file" name="myfile" style="display: none;">
        </label>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 ccontrol-label" for="language">Language</label>
      <div class="col-sm-4">
        <select class="form-control" name="language">
          <option>Javascript</option>
          <option>Ruby</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default">Submit!</button>
      </div>
    </div>

    <input type="hidden" name="problem" value="pathfinding">


  </form>

</div>
