%html
  %body
    %h1 File uploader!
    %form(method="post" enctype='multipart/form-data')
      File:
      %input(type='file' name='myfile')
      %br
      Problem name:
      %input(type='text' name='problem')
      %br
      Language:
      %input(type='text' name='language' value='javascript')
      %br
      %input(type='submit' value='Upload!')

